
@import "variables";

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 56px;

    .button-signup{

    }

    .button-signin{
        margin-right: 45px;
    }
    
    .line{
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #E7E7E7;
        bottom: 0;
    }
}