@import "variables";

.container{
    display: flex;
    justify-content: center;

    .form{
        margin-top: 20px;
        margin-bottom: 40px;
        width: 85%;

        .form-group{
            margin-top: 20px;
            display: flex;
            flex-direction: column;


            label{
                font-size: 0.875rem;
                font-weight: 700;
                color: rgb(43 43 43 / 87%);
            }
            .input-value{
                display: flex;
                flex-wrap: wrap;
                input{
                    flex-basis: 100%;
                }
            }
        }
        .divider{
            margin-top: 25px;
            width: 100%;
            height: 2px;
            border-radius: 10px;
            background-color: #f2f2f2;
        }
        .center{
            margin-top: 25px;
            align-items: center;
        }
        .button-signIn{
            width: 125px;
        }

        
    }
}