@import "variables";

.content {
  height: calc(100% - 56px);
  display: flex;
  flex-direction: column;

  .second-menu {
    position: relative;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    .navigation {
      height: 100%;
      display: flex;

      .nav-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        cursor: pointer;
        outline: none;

        p {
          color: $default-header-icon-color;
          font-size: 1.125rem;
        }

        &:hover {
          p {
            color: $active-header-icon-color;
          }

          .item-line {
            display: block;
            background-color: #c0c0c0;
          }
        }
      }
    }
  }

  .content-profile {
    height: calc(100% - 56px);
    padding-top: 0px;
  }

}

.spinner-container{
  height: calc(100% - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $bottom-color-line;
  bottom: 0;
}

.active {
  p {
    color: $active-header-icon-color !important;
  }

  .item-line {
    display: block !important;
    background-color: $active-header-icon-color !important;
  }
}

.item-line {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $active-header-icon-color;
  bottom: 0;
}