<div class="content">
    <div class="profile">
        <div class="photo" [ngClass]="{'without-photo-border': !user?.profile_image.large}">
            <img *ngIf="user?.profile_image.large" [src]="user?.profile_image.large" />
            <img class="default" *ngIf="!user?.profile_image.large" src="assets/images/default_user.svg">
        </div>

        <div class="information">
            <p class="name">Tesla Official</p>
            <p class="username">@tesla</p>
        </div>

        <div *ngIf="!admin" class="info-divider"></div>
        <div *ngIf="!admin" class="buttons-section">
            <app-clickable [height]="'34px'" [width]="'100%'" [text]="'Contact'" [textColor]="'#10a1ff'"
                [borderColor]="'#10a1ff'">
            </app-clickable>
        </div>

        <div class="info-divider"></div>
        <div class="following">
            <p>0 followers</p>
            <p>12.2k following</p>
            <app-clickable *ngIf="!followed && !admin" [height]="'34px'" [width]="'100%'" [text]="'Follow'"
                [textColor]="'#10a1ff'" [borderColor]="'#10a1ff'">
            </app-clickable>
            <app-clickable *ngIf="followed && !admin" [height]="'34px'" [width]="'100%'" [text]="'Unfollow'"
                [borderColor]="'#d5d5d5'">
            </app-clickable>
        </div>


        <div class="info-divider"></div>
        <div class="additional-info">
            <div class="site">
                <div class="icon">
                    <i class="icon-site"></i>
                </div>
                <p>icomoon.io</p>
            </div>
            <div class="location">
                <div class="icon">
                    <i class="icon-location"></i>
                </div>
                <p>Kyiv, Ukraine</p>
            </div>
        </div>

        <div class="info-divider"></div>
        <div class="description">
            <p>Under the creative direction of Gucci is redefined a
                s a luxury brand with a contemporary approach to fashion.</p>
        </div>

        <div *ngIf="admin" class="info-divider"></div>
        <div *ngIf="admin" class="admin-buttons">
            <app-clickable [height]="'34px'" [width]="'100%'" [text]="'Edit profile'" [borderColor]="'#d5d5d5'">
            </app-clickable>
            <app-clickable [height]="'34px'" [width]="'100%'" [text]="'New service'" [borderColor]="'#d5d5d5'">
            </app-clickable>
            <app-clickable [height]="'34px'" [width]="'100%'" [text]="'New product'" [borderColor]="'#d5d5d5'">
            </app-clickable>
        </div>
    </div>
    <div class="divider">

    </div>
    <div class="content-inner">
        <router-outlet></router-outlet>
    </div>
</div>