@import "variables";

.content {
  height: 100vh;
  display: flex;
  .profile {
    width: 20%;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 60px;
    padding-right: 30px;
    .photo {
      margin-top: 35px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 50%;
        height: 150px;
        object-fit: cover;
      }
      .default {
        border-radius: 0;
        height: 60px;
        object-fit: cover;
      }
    }
    .without-photo-border {
      border: 1px solid #a8a8a8;
    }
    .following {
      display: flex;
      flex-direction: column;
      width: 100%;
      app-clickable {
        margin-top: 15px;
      }
      p {
        margin-top: 15px;
        font-weight: 400;
        cursor: pointer;
        &:hover {
          font-weight: 500;
        }
      }
    }
    .info-divider {
      margin-top: 15px;
      width: 100%;
      height: 2px;
      border-bottom: 10px;
      background-color: #e7e7e7;
    }
    .information {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
      .name {
        font-weight: bold;
        font-size: 1.375rem;
      }
      .username {
        margin-top: 15px;
        font-size: 1.125rem;
      }
    }
    .buttons-section {
      margin-top: 15px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .description {
      margin-top: 15px;
    }
    .admin-buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      app-clickable {
        margin-top: 15px;
      }
    }
    .additional-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      .site {
        margin-top: 15px;
        display: flex;
        align-items: center;
        .icon {
          height: 100%;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        p {
          margin-left: 16px;
        }
      }
      .location {
        margin-top: 15px;
        display: flex;
        align-items: center;
        .icon {
          height: 100%;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        p {
          margin-left: 13px;
        }
      }
    }
  }
  .divider {
    width: 1px;
    background-color: $divider-color;
  }
}
