<div *ngIf="(isLoaded$ | async) && (isExist$ | async)" class="content">
    <div class="second-menu">
        <div class="navigation">
            <div class="nav-item" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <p>Profile</p>
                <div class="item-line"></div>
            </div>
            <div *ngIf="(profile$ | async).isBussinessAcc" class="nav-item" routerLink="things" routerLinkActive="active">
                <p>Things</p>
                <div class="item-line"></div>
            </div>
        </div>
        <div class="line"></div>
    </div>
    <div class="content-profile">
        <router-outlet></router-outlet>
    </div>
</div>
<div *ngIf="!(isLoaded$ | async)" class="spinner-container">
    <app-spinner></app-spinner>
</div>
<div *ngIf="(isLoaded$ | async) && !(isExist$ | async)" class="not-found">
    <p>User not founded</p>
</div>