@import "variables";

header {
  width: 100%;
  height: 55px;
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left-content {
    width: 150px;
    height: 100%;
  }
  .right-content {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    .notification-container {
      position: relative;
      height: 100%;
      width: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      .counter-container {
        position: absolute;
        top: 14px;
        left: 35px;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: #ffcaac;
      }
    }
  }

  .navigation {
    width: 100%;
    height: 55px;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-container {
      position: relative;
      height: 100%;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      transition: 0.1s ease-in-out;

      &:hover {
        cursor: pointer;
      }

      .counter {
        position: absolute;
        bottom: 3px;
        right: 13px;
        color: #ffcaac;
        font-size: 0.75rem;
      }
    }

    .profile {
      height: 100%;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      transition: 0.1s ease-in-out;
      .photo {
        width: 1.625rem;
        height: 1.625rem;
        background-color: white;
        border-radius: 50%;
      }
      &:hover {
        cursor: pointer;
      }
    }

    .active {
      border-bottom: 3px solid $main-color;
    }
  }
}
