@import "variables";

header {
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left-content {
    width: 150px;
    height: 100%;
  }
  .right-content {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    .notification-container {
      position: relative;
      height: 100%;
      width: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        i::before{
          color: $active-header-icon-color;
        }

      }
      .counter-container {
        position: absolute;
        top: 14px;
        left: 35px;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: $red-color;
      }
    }
  }

  .navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-container {
      position: relative;
      height: 100%;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      cursor: pointer;

      &:hover {
        z-index: 1;
        border-bottom: 2px solid #c0c0c0;
        i::before{
          color: $active-header-icon-color;
        }
      }

      .counter {
        position: absolute;
        bottom: 3px;
        right: 14px;
        color: $active-header-icon-color;
        font-size: 0.75rem;
        font-weight: 500;
      }
    }

    .profile {
      height: 100%;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      cursor: pointer;
      .photo {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 50%;
          object-fit: cover;
          height: 2rem;
        }
      }
      
      &:hover {
        z-index: 1;
        border-bottom: 2px solid #c0c0c0;
      }
    }

    .active {
      z-index: 1;
      border-bottom: 2px solid $active-header-icon-color !important;
      i::before{
        color: $active-header-icon-color;
      }
    }

  }
  .line{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $bottom-color-line;
    bottom: 0;
  }
}
