.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 15% 0 15%;
    .update-button{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        button{
            width: 140px;
        }
    }
    mat-form-field{
        margin-top: 15px;
    }
}