<form [formGroup]="mainForm" class="container">
    <div class="first-info content">
        <div class="photo-container">
            <div class="photo" [ngClass]="{'without-photo-border': !user?.profile_image.large}">
                <img *ngIf="user?.profile_image.large" [src]="user?.profile_image.large" />
                <img class="default" *ngIf="!user?.profile_image.large" src="assets/images/default_user.svg">
            </div>
        </div>
        <div class="inputs">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" name="name" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" name="userName" formControlName="userName">
            </mat-form-field>
        </div>
    </div>
    <div class="divider"></div>
    <div class="second-info content">
        <mat-form-field>
            <input type="text" matInput placeholder="States Group" formControlName="stateGroup"
                [matAutocomplete]="autoGroup">
            <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                    <mat-option *ngFor="let name of group.names" [value]="name">
                        {{name}}
                    </mat-option>
                </mat-optgroup>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Gender</mat-label>
            <input matInput placeholder="Gender" name="gender">
        </mat-form-field>
    </div>
    <div class="divider"></div>
    <div class="third-info content">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Website</mat-label>
            <input matInput placeholder="Website" name="website">
        </mat-form-field>
    </div>
    <div class="divider"></div>
    <div class="description content">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
    </div>
    <div class="divider"></div>
    <div class="submit-button">
        <button mat-flat-button color="primary">Update</button>
    </div>
</form>