<div class="container">
    <div class="main-info width-content">
        <div class="photo" [ngClass]="{'without-photo-border': !user?.profile_image.large}">
            <img *ngIf="user?.profile_image.large" [src]="user?.profile_image.large" />
            <img class="default" *ngIf="!user?.profile_image.large" src="assets/images/default_user.svg">
        </div>
        <div class="info">
            <p class="name">Tesla Official</p>
            <p class="username">@tesla</p>
            <p class="description">Under the creative direction of Gucci is redefined a
                s a luxury brand with a contemporary approach to fashion.Under the creative direction of Gucci is
                redefined ay brand with a conte</p>
        </div>
    </div>
    <div class="follow width-content">
        <div class="followers">
            <p>0 followers</p>
        </div>
        <div class="following">
            <p>12.2k following</p>
        </div>
    </div>
    <div class="buttons width-content">
        <div class="edit-section">
            <div *ngIf="admin" class="edit-profile">
                <p>Edit profile</p>
            </div>
        </div>
        <div *ngIf="!admin" class="user-section">
            <div class="contact">
                <p>Contact</p>
                <i class="icon-contact"></i>
            </div>
            <div *ngIf="!followed" class="follow-button">
                <p>Follow</p>
                <i class="icon-like"></i>
            </div>
            <div *ngIf="followed" class="unfollow-button">
                <p>Unfollow</p>
            </div>
        </div>
    </div>
    <div class="divider width-content">
    </div>
    <div *ngIf="admin" class="business-container width-content">
        <div class="button-business">
            <p>Set business account</p>
        </div>
    </div>
    <div *ngIf="admin" class="divider width-content">
    </div>
    <div class="additional-info width-content">
        <div class="site">
            <div class="icon">
                <i class="icon-site"></i>
            </div>
            <p>icomoon.io</p>
        </div>
        <div class="location">
            <div class="icon">
                <i class="icon-location"></i>
            </div>
            <p>Kyiv, Ukraine</p>
        </div>
    </div>
    <div class="divider width-content">
    </div>
    <div *ngIf="admin" class="logout" routerLink="/about">
        <div class="button">
            <p>Log out</p>
        </div>
    </div>
</div>