@import "variables";

.wrapper {
    height: 100%;
    padding-top: 25px;
    justify-content: center;
    display: flex;

    .content {
        margin-left: 252px;
        width: 950px;
        border-top: 1px solid #DEDEDE;
        border-left: 1px solid #DEDEDE;
        border-right: 1px solid #DEDEDE;

        .nav-bar {
            height: 55px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid #DEDEDE;

            .menu {
                display: flex;

                .menu-item {
                    outline: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 140px;
                    cursor: pointer;
                    color: rgb(95, 95, 95);
                    font-weight: bold;
                }
            }

            .buttons {
                .admin-view {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                .user-view {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                .mr-help {
                    margin-right: 25px;
                }

                .button-save {
                    outline: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 28px;
                    width: 116px;
                    border: 1px solid $button-border;
                    border-radius: 3px;
                    cursor: pointer;
                    p {
                        font-weight: bold;
                        color: $active-header-icon-color;
                    }
                }

                .button-contact {
                    cursor: pointer;
                    outline: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 28px;
                    width: 116px;
                    background-color: #21A7FF;
                    color: white;
                    font-weight: bold;
                    margin-right: 35px;
                    border-radius: 3px;
                }
            }
        }
    }

    .navigation {
        margin-left: 25px;
        padding-right: 25px;
        overflow-y: scroll;

        .item {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 210px;
            border: 1px solid #DEDEDE;
            border-radius: 5px;
            margin-bottom: 15px;
        }
    }
}

.active {
    color: black !important;
}