@font-face {
  font-family: "findIt";
  src: url("/assets/icons/findIt.eot") format("embedded-opentype"),
    url("/assets/icons/findIt.ttf") format("truetype"),
    url("/assets/icons/findIt.woff") format("woff"),
    url("/assets/icons/findIt.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "findIt" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
  color: #fff;
  font-size: 1.625rem;
}

.icon-label:before {
  content: "\e901";
  color: #fff;
  font-size: 1.625rem;
}

.icon-message:before {
  content: "\e902";
  color: #fff;
  font-size: 1.625rem;
}

.icon-search:before {
  content: "\e903";
  color: #fff;
  font-size: 1.625rem;
}

.icon-notification:before {
  content: "\e904";
  color: #fff;
  font-size: 1.625rem;
}
