@font-face {
  font-family: "findIt";
  src: url("/assets/icons/findIt.eot") format("embedded-opentype"),
    url("/assets/icons/findIt.ttf") format("truetype"),
    url("/assets/icons/findIt.woff") format("woff"),
    url("/assets/icons/findIt.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "findIt" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
  color: #fff;
  font-size: 1.5rem;
}

.icon-label:before {
  content: "\e901";
  color: #fff;
  font-size: 1.5rem;
}

.icon-message:before {
  content: "\e902";
  color: #fff;
  font-size: 1.5rem;
}

.icon-search:before {
  content: "\e903";
  color: #fff;
  font-size: 1.5rem;
}

.icon-notification:before {
  content: "\e904";
  color: #fff;
  font-size: 1.375rem;
}

.icon-site:before {
  content: "\e905";
  color: #595959;
  font-size: 1.25rem;
}

.icon-location:before {
  content: "\e906";
  color: #595959;
  font-size: 1.25rem;
}

.icon-about:before {
  content: "\e90c";
  color: #565656;
  font-size: 1.25rem;
}

.icon-comments:before {
  content: "\e90b";
  color: #565656;
  font-size: 1.25rem;
}

.icon-photos:before {
  content: "\e90a";
  color: #565656;
  font-size: 1.25rem;
}

.icon-contact:before {
  content: "\e909";
  color: #565656;
  font-size: 1.25rem;
}

.icon-eye_view:before {
  content: "\e908";
  color: #565656;
  font-size: 1.25rem;
}

.icon-like:before {
  content: "\e907";
  color: #565656;
  font-size: 1.25rem;
}


