$main-color: #ffcaac;

$divider-color: #d6d6d6;


$default-header-icon-color: #4A4A4A;
$active-header-icon-color: #202020;

$bottom-color-line: #E7E7E7;

$blue-color: #10A1FF;

$button-border: #D6D6D6;