.container{
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1d1d1d;
    font-weight: bold;
    font-size: 0.75rem;
    color: white;
    p{
        margin-left: 10px;
    }
}